.section_slider {
  text-align: center;
}

.section_slider .thumb-slider-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 1300px;
  right: 0;
  margin: auto;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 991px) and (min-width: 767px) {
  .section_slider .thumb-slider-text {
    top: auto;
    transform: none;
    bottom: 10px;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .section_slider .thumb-slider-text {
    max-width: 960px;
  }
}

@media (max-width: 767px) {
  .section_slider .thumb-slider-text {
    display: none;
  }
}

.section_slider .thumb-slider-text .slider-text {
  text-align: left;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  padding: 50px;
  display: inline-block;
  position: relative;
}

@media (min-width: 767px) {
  .section_slider .thumb-slider-text .slider-text {
    transform: scaleX(0);
    transition: all 0.6s;
  }
}

@media (max-width: 767px) {
  .section_slider .thumb-slider-text .slider-text {
    text-align: center;
    width: 100%;
    padding: 30px;
  }
}

.section_slider .thumb-slider-text .slider-text:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #cd9b32;
}

.section_slider .thumb-slider-text .slider-text .title {
  color: #000;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  font-family: "Playball";
}

@media (max-width: 767px) {
  .section_slider .thumb-slider-text .slider-text .title {
    font-size: 30px;
  }
}

.section_slider .thumb-slider-text .slider-text .content {
  font-size: 20px;
  position: relative;
  font-family: "Playball";
}

.section_slider .thumb-slider-text .slider-text .button {
  color: #000;
  padding: 8px 30px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  position: relative;
}

@media (max-width: 767px) {
  .section_slider .thumb-slider-text .slider-text .button {
    font-size: 14px;
    padding: 5px 20px;
  }
}

.section_slider .thumb-slider-text .slider-text .button:hover {
  background: #cd9b32;
  border: 1px solid #cd9b32;
  color: #fff;
}

@media (min-width: 767px) {
  .section_slider .swiper-slide-active .thumb-slider-text .slider-text {
    transform: unset;
  }
}

section {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  section {
    margin-bottom: 20px;
  }
}

.swiper-wrapper {
  padding-bottom: 1px;
}

.section_danhmuc .danhmuc-slider .swiper-slide .thumb {
  overflow: hidden;
}

.section_danhmuc .danhmuc-slider .swiper-slide .thumb img {
  transition: all 0.8s linear;
}

.section_danhmuc .danhmuc-slider .swiper-slide:hover .thumb img {
  transform: scale(1.04);
  transition: all 0.8s linear;
}

.section_danhmuc .danhmuc-slider .swiper-slide h3 {
  text-align: center;
  background: rgba(255, 255, 255, 0.68);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  font-weight: 800;
  font-family: "Playball";
}

@media (max-width: 767px) {
  .section_danhmuc .danhmuc-slider .swiper-slide h3 {
    font-size: 16px;
  }
}

.section_danhmuc .danhmuc-slider .swiper-slide h3 a {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .section_danhmuc .danhmuc-slider .swiper-slide h3 a {
    font-size: 14px;
  }
}

.section_danhmuc .danhmuc-slider .swiper-slide h3 a:hover {
  color: #cd9b32;
}

.section_2_banner .thumb-banner {
  position: relative;
  min-height: 150px;
}

@media (max-width: 767px) {
  .section_2_banner .thumb-banner {
    margin-bottom: 20px;
  }
}

.section_2_banner .thumb-banner:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
  transform: scaleX(0);
  z-index: 1;
}

.section_2_banner .thumb-banner:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
  transform: scaleY(0);
  z-index: 1;
}

.section_2_banner .thumb-banner .thumb-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  width: 90%;
  z-index: 2;
  text-align: center;
  min-height: 100px;
}

.section_2_banner .thumb-banner .thumb-content .title {
  font-size: 50px;
  color: #000;
  letter-spacing: 0.1em;
  font-family: "Playball";
}

@media (max-width: 991px) {
  .section_2_banner .thumb-banner .thumb-content .title {
    font-size: 28px;
  }
}

.section_2_banner .thumb-banner .thumb-content p {
  color: #000;
  transition: 0.5s;
  font-size: 16px;
}

.section_2_banner .thumb-banner .thumb-content .url {
  margin-top: 18px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(25px);
}

.section_2_banner .thumb-banner .thumb-content .url a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
}

.section_2_banner .thumb-banner .thumb-content .url a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgb(239, 39, 39), orange, yellow, green, blue, indigo, rgb(222, 94, 222)) 1;
}

.section_2_banner .thumb-banner .thumb-content .url a:hover:before {
  /* animation: underline-link 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1; */
  animation: underline-link 0.9s ease-in-out infinite;
}

@media (max-width: 991px) {
  .section_2_banner .thumb-banner:before {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all 0.5s ease-out 0s;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  .section_2_banner .thumb-banner:after {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all 0.5s ease-out 0s;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  .section_2_banner .thumb-banner .thumb-content .url {
    opacity: 1;
    transform: none;
  }
}

.section_2_banner .thumb-banner:hover:before {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: all 0.5s ease-out 0s;
}

.section_2_banner .thumb-banner:hover:after {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: all 0.5s ease-out 0s;
}

.section_2_banner .thumb-banner:hover .thumb-content .url {
  opacity: 1;
  transform: none;
}

@keyframes underline-link {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  50.01% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  } */
}

.section_flashsale .title-index {
  margin-bottom: 5px;
}

.section_flashsale .count-down {
  display: block;
  font-size: 14px;
  padding: 0;
  text-align: center;
  background: transparent;
  margin-bottom: 30px;
}

.section_flashsale .count-down .timer-view {
  display: inline;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.section_flashsale .count-down .timer-view .block-timer {
  width: 50px;
  height: 50px;
  display: inline-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: #cd9b32;
  margin: 5px;
  border-radius: 5px;
  margin-bottom: 0;
}

@media (max-width: 374px) {
  .section_flashsale .count-down .timer-view .block-timer {
    width: 35px;
    height: 35px;
    margin: 2px;
    margin-bottom: 0;
  }
}

.section_flashsale .count-down .timer-view .block-timer p {
  margin-bottom: 0;
  font-size: 16px;
}

@media (max-width: 374px) {
  .section_flashsale .count-down .timer-view .block-timer p {
    font-size: 11px;
  }
}

.section_flashsale .count-down .timer-view .block-timer p b {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 374px) {
  .section_flashsale .count-down .timer-view .block-timer p b {
    font-size: 14px;
  }
}

.section_flashsale .count-down .timer-view .block-timer:first-child {
  margin-left: 0;
}

.section_flashsale .count-down .timer-view>span {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  top: 11px;
  color: #fff;
}

.section_flashsale .thumb-flasale {
  padding: 10px;
  border: 3px solid;
  border-image: linear-gradient(to right, rgb(239, 39, 39), orange, yellow, green, blue, indigo, rgb(222, 94, 222)) 1;
  border-radius: 5px;
}

.section_about .row {
  margin: 0;
  align-items: center;
}

.section_about .row>div {
  padding: 0;
}

@media (max-width: 767px) {
  .section_about .row .col-md-6:nth-child(1) {
    order: 1;
  }

  .section_about .row .col-md-6:nth-child(2) {
    order: 2;
  }

  .section_about .row .col-md-6:nth-child(3) {
    order: 4;
  }

  .section_about .row .col-md-6:nth-child(4) {
    order: 3;
  }
}

@media (max-width: 767px) {
  .section_about .thumb-content {
    margin-bottom: 20px;
  }
}

.section_about .thumb-content .title {
  font-size: 50px;
  font-family: "Playball";
}

@media (max-width: 991px) {
  .section_about .thumb-content .title {
    font-size: 30px;
  }
}

.section_about .thumb-content .link {
  display: block;
  margin-top: 20px;
}

.section_about .thumb-content .link a {
  padding: 10px 15px;
  border: 1px solid #000;
  color: #000;
  font-weight: 700;
}

.section_about .thumb-content .link a:hover {
  border: 1px solid #e4a53d;
  color: #e4a53d;
}

.section_about .thumb-content .content {
  text-align: justify;
  display: block;
}

.section_about .thumb-content.thumb-content-left {
  padding-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .section_about .thumb-content.thumb-content-left {
    padding-right: 0px;
  }
}

.section_about .thumb-content.thumb-content-right {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .section_about .thumb-content.thumb-content-right {
    padding-left: 0px;
  }
}

.thumb-image-banner {
  position: relative;
  overflow: hidden;
  display: block;
}

@media (max-width: 767px) {
  .thumb-image-banner {
    margin-bottom: 20px;
  }
}

.thumb-image-banner:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  z-index: 1;
  transform: scaleX(0);
  transition: all 0.4s ease-out 0s;
}

.thumb-image-banner:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-right: 1px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  border-left: 1px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  z-index: 1;
  transform: scaleY(0);
  transition: all 0.4s ease-out 0s;
}

.thumb-image-banner img {
  transition: all 0.8s linear;
}

.thumb-image-banner:hover:before {
  transform: none;
  transition: all 0.4s ease-out 0s;
}

.thumb-image-banner:hover:after {
  transform: none;
  transition: all 0.4s ease-out 0s;
}

.thumb-image-banner:hover img {
  transform: scale(1.04);
  transition: all 0.8s linear;
}

.section_mailchimp .row {
  background: #f3e7cd;
}

.section_mailchimp .newsletter-form {
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
}

.section_mailchimp .newsletter-form input {
  height: 40px;
  width: 100%;
  border: 0;
  padding: 10px 110px 10px 10px;
}

@media (max-width: 767px) {
  .section_mailchimp .newsletter-form input {
    padding: 10px 85px 10px 10px;
  }
}

.section_mailchimp .newsletter-form button {
  height: 40px;
  position: absolute;
  right: 0;
  border: 0;
  background: #e4a53d;
  color: #fff;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .section_mailchimp .newsletter-form button {
    padding: 0 5px;
  }
}

.section_mailchimp .newsletter-form button:hover {
  opacity: 0.8;
}

.section_mailchimp .thumb {
  text-align: center;
  padding: 30px 50px;
}

@media (max-width: 767px) {
  .section_mailchimp .thumb {
    padding: 10px;
  }
}

.section_mailchimp .thumb .title {
  font-family: "Playball";
  font-size: 50px;
}

@media (max-width: 767px) {
  .section_mailchimp .thumb .title {
    font-size: 30px;
  }
}

.section_mailchimp .thumb .content {
  font-size: 16px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .section_mailchimp .thumb .content {
    font-size: 14px;
  }
}

.section_blog .blog-swiper {
  margin-bottom: 20px;
}

.section_product_tab .tabs-title {
  margin-bottom: 30px;
  border-right: 1px solid #ddd;
}

@media (max-width: 991px) {
  .section_product_tab .tabs-title {
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
  }
}

.section_product_tab .tabs-title .tab-link {
  margin-bottom: 0;
  cursor: pointer;
  display: block;
  padding-right: 12px;
  font-size: 15px;
  flex: 0 0 auto;
  text-align: left;
  position: relative;
}

@media (max-width: 991px) {
  .section_product_tab .tabs-title .tab-link {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    padding-right: 0px;
  }
}

.section_product_tab .tabs-title .tab-link:last-child {
  margin-right: 0px;
}

.section_product_tab .tabs-title .tab-link span {
  font-size: 20px;
  position: relative;
  display: block;
  font-weight: 600;
  padding: 20px 20px 20px 0;
  color: #000;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .section_product_tab .tabs-title .tab-link span {
    font-size: 16px;
    padding: 5px 10px;
  }
}

.section_product_tab .tabs-title .tab-link.current span,
.section_product_tab .tabs-title .tab-link:hover span {
  color: #cd9b32;
}

.section_product_tab .tabs-title .tab-link.current:before,
.section_product_tab .tabs-title .tab-link:hover:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #cd9b32;
  top: 0;
  right: -3px;
  border-radius: 5px;
}

@media (max-width: 991px) {

  .section_product_tab .tabs-title .tab-link.current:before,
  .section_product_tab .tabs-title .tab-link:hover:before {
    width: 100%;
    height: 2px;
    top: auto;
    bottom: 0;
    right: 0px;
  }
}

.section_product_tab .tab-content {
  display: none;
}

.section_product_tab .tab-content.current {
  display: block;
}

.section_chinhsach a {
  display: flex;
  align-items: center;
}

.section_chinhsach a img {
  max-height: 40px;
  width: auto;
}

.section_chinhsach a .text {
  color: #000;
  padding-left: 10px;
}

.section_chinhsach a .text .title {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.section_instagram .title-module {
  text-align: center;
  margin-bottom: 0;
}

.section_instagram .title-module span {
  display: inline-block;
  font-size: 50px;
  font-family: "Playball";
}

@media (max-width: 991px) {
  .section_instagram .title-module span {
    font-size: 18px;
  }
}

.section_instagram .link {
  text-align: center;
  display: block;
  color: #cd9b32;
  margin-bottom: 30px;
  font-size: 24px;
}

@media (max-width: 991px) {
  .section_instagram .link {
    font-size: 16px;
  }
}

.section_instagram .thumb-image {
  padding-bottom: 100%;
  overflow: hidden;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
  transition: all 0.8s linear;
}

.section_instagram .thumb-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section_instagram .thumb-image a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.section_instagram .thumb-image a svg {
  width: 60px;
  height: 60px;
}

.section_instagram .thumb-image a svg path {
  fill: #fff;
}

.section_instagram .thumb-image:hover a {
  display: flex;
}

.section_instagram .thumb-image:hover img {
  transform: scale(1.04);
  transition: all 0.8s linear;
}

.section_video .thumb-video {
  padding-bottom: 100vh;
  overflow: hidden;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
}

.section_video .thumb-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section_danhgia {
  padding: 50px 0px 50px 0px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_danhgia .title-index span {
  color: #fff;
}

.section_danhgia .item {
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  padding: 50px;
  display: inline-block;
  position: relative;
}

@media (max-width: 767px) {
  .section_danhgia .item {
    padding: 25px;
  }
}

.section_danhgia .item:hover:before {
  transform: none;
  transition: all 0.4s ease-out 0s;
}

.section_danhgia .item:hover:after {
  transform: none;
  transition: all 0.4s ease-out 0s;
}

.section_danhgia .item:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-top: 1px solid #cd9b32;
  border-bottom: 1px solid #cd9b32;
  z-index: 1;
  transform: scaleX(0);
  transition: all 0.4s ease-out 0s;
}

.section_danhgia .item:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-right: 1px solid #cd9b32;
  border-left: 1px solid #cd9b32;
  z-index: 1;
  transform: scaleY(0);
  transition: all 0.4s ease-out 0s;
}

.section_danhgia .item .avatar {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  text-align: left;
}

@media (max-width: 767px) {
  .section_danhgia .item .avatar {
    flex-direction: column;
    text-align: center;
  }
}

.section_danhgia .item .avatar img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 900px;
  -moz-border-radius: 900px;
  border-radius: 100%;
  margin-right: 15px;
}

.section_danhgia .item .avatar .testimonial h5 {
  color: #000;
  font-size: 26px;
  line-height: 34px;
}

.section_danhgia .item .avatar .testimonial span {
  color: #cd9b32;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.section_danhgia .item .content {
  color: #000;
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .section_danhgia .item .content {
    font-size: 14px;
  }
}