html::-webkit-scrollbar {
  width: 3px;
}

html::-webkit-scrollbar-thumb {
  background-color: #cd9b32;
  outline: 3px solid #cd9b32;
}

@font-face {
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(//bizweb.dktcdn.net/100/492/035/themes/919334/assets/playball-regular.ttf?1694743485575);
}

body {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  background: #fff;
  font-weight: 500;
  color: #000;
}

body.search-active {
  overflow-y: hidden;
}

body.search-active .header {
  z-index: 99999 !important;
}

svg {
  width: 20px;
  height: 20px;
}

a {
  transition: all 0.4s ease;
}

a:hover {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

b,
strong {
  font-weight: bold;
}

button {
  transition: all 0.4s ease;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

@media (min-width: 1200px) {
  .col-xl-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 991px) {
  .col-lg-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}

.swiper-container .swiper-button-disabled {
  display: none;
}

.swiper-container .swiper-button-next:after,
.swiper-container .swiper-button-prev:after {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.4 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp:after {
  content: "";
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1em * 1.4);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%);
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1em * 1.4 * 1);
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(1em * 1.4 * 2);
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.4 * 3);
}

.product-action {
  overflow: hidden;
  background: #fff;
  position: relative;
  border-radius: 5px;
}

.product-action .product-thumbnail {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.product-action .product-thumbnail .image_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -os-justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 100%;
  border-radius: 10px;
}

.product-action .product-thumbnail .image_thumb img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  will-change: opacify;
  transform: scale(1);
  transition: all 0.8s linear;
}

.product-action .product-info {
  padding: 10px 0;
}

.product-action .product-info .price-box {
  margin-bottom: 5px;
  position: relative;
  color: #cd9b32;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 500px) {
  .product-action .product-info .price-box {
    min-height: 44px;
  }
}

.product-action .product-info .price-box .compare-price {
  color: #666;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 500px) {
  .product-action .product-info .price-box .compare-price {
    display: block;
    margin-left: 0;
    font-size: 12px;
  }
}

.product-action .product-info .product-name {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 767px) {
  .product-action .product-info .product-name {
    font-size: 14px;
  }
}

.product-action .action {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  z-index: 2;
  text-align: center;
}

@media (max-width: 1025px) {
  .product-action .action {
    opacity: 1;
  }
}

.product-action .action .btn-views {
  background: #cd9b32;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

@media (max-width: 1025px) {
  .product-action .action .btn-views {
    display: none;
  }
}

.product-action .action .btn-views svg {
  width: 15px;
  height: 15px;
}

.product-action .action .btn-views:hover {
  background: #e4a53d;
}

.product-action .action .btn-views.btn-wishlist.active path {
  fill: red;
}

.product-action .smart {
  position: absolute;
  top: 8px;
  left: 8px;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 14px;
  z-index: 5;
  line-height: 22px;
  font-weight: 700;
}

.product-action .smart span {
  padding: 2px 10px;
  color: #ffffff;
  border-radius: 0 10px;
  display: block;
  margin-bottom: 5px;
}

.product-action .smart span.sale {
  background-color: #dd433f;
  border-color: #dd433f;
}

.product-action .smart span.new {
  background-color: #cd9b32;
  border-color: #cd9b32;
}

.product-action .btn-wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
}

.product-action .btn-wishlist svg {
  width: 20px;
  height: 20px;
}

.product-action .btn-wishlist svg path {
  fill: red;
}

@media (min-width: 1025px) {
  .product-action:hover .product-thumbnail .scale_hover img {
    transform: scale(1.2);
  }

  .product-action:hover .action {
    opacity: 1;
    bottom: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .product-action:hover .action .btn-views:hover {
    transition: 500ms all;
    transform: translateY(-5px);
    opacity: 0.8;
  }
}

.product-action-list {
  display: flex;
}

.product-action-list .product-thumbnail {
  width: 150px;
  position: relative;
}

@media (max-width: 767px) {
  .product-action-list .product-thumbnail {
    width: 110px;
  }
}

.product-action-list .product-thumbnail .image_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -os-justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 100%;
  border-radius: 10px;
}

.product-action-list .product-thumbnail .image_thumb img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  will-change: opacify;
  transform: scale(1);
  transition: all 0.5s ease;
}

.product-action-list .product-info {
  width: calc(100% - 200px);
  padding-left: 20px;
}

@media (max-width: 767px) {
  .product-action-list .product-info {
    width: calc(100% - 120px);
  }
}

.product-action-list .product-info .price-box {
  margin-bottom: 5px;
  position: relative;
  color: #cd9b32;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

.product-action-list .product-info .price-box .compare-price {
  color: #666;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .product-action-list .product-info .price-box .compare-price {
    display: block;
    margin-left: 0;
    font-size: 12px;
  }
}

.product-action-list .product-info .product-name {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  border-bottom: 1px dashed #cd9b32;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .product-action-list .product-info .product-name {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .product-action-list .product-info .action {
    display: none;
  }
}

.product-action-list .product-info .action .btn-views {
  background: #cd9b32;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.product-action-list .product-info .action .btn-views svg {
  width: 16px;
  height: 16px;
}

.product-action-list .product-info .action .btn-views:hover {
  transition: 500ms all;
  transform: translateY(-5px);
  opacity: 0.8;
}

.product-action-list:hover .product-thumbnail .image_thumb img {
  transform: scale(1.1);
  transition: all 0.8s linear;
}

.backtop {
  position: fixed;
  bottom: 100px;
  top: auto !important;
  right: 20px;
  background: #cd9b32;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  line-height: 40px;
  z-index: 999;
  opacity: 0;
  border: 1px solid #fff;
}

.backtop:hover {
  background: #906d23;
}

.backtop svg {
  width: 30px;
  height: 30px;
  color: #fff;
}

.backtop.show {
  opacity: 1;
}

.footer {
  background: #f3e7cd;
}

@media (max-width: 991px) {
  .footer .col-footer {
    margin-bottom: 20px;
  }
}

.footer .mid-footer {
  color: #000;
  padding: 50px 0;
}

.footer .mid-footer .logo-ft {
  display: block;
  margin-bottom: 10px;
}

.footer .mid-footer .content-ft {
  margin-bottom: 10px;
}

.footer .mid-footer .group-address {
  margin-top: 10px;
}

.footer .mid-footer .group-address .title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer .mid-footer .group-address ul {
  margin-bottom: 20px;
  list-style: none;
}

.footer .mid-footer .group-address ul li {
  margin-bottom: 5px;
  color: #cd9b32;
  font-size: 16px;
}

.footer .mid-footer .group-address ul li span {
  color: #000;
}

.footer .mid-footer .group-address ul li a {
  color: #000;
  display: inline-block;
}

.footer .mid-footer .group-address ul li a:hover {
  color: #e4a53d;
}

@media (min-width: 1199px) {
  .footer .mid-footer .ft-menu {
    border-left: 1px solid #535353;
    border-right: 1px solid #535353;
  }
}

.footer .mid-footer .title-menu {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  color: #cd9b32;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .footer .mid-footer .title-menu {
    margin-bottom: 10px;
  }
}

.footer .mid-footer .list-menu li {
  display: block;
  margin-bottom: 5px;
}

.footer .mid-footer .list-menu li a {
  font-size: 16px;
  color: #000;
}

.footer .mid-footer .list-menu li a:hover {
  color: #e4a53d;
}

@media (max-width: 767px) {
  .footer .mid-footer .list-menu.hidden-mobile {
    display: none;
  }
}

.footer .mid-footer .social li {
  display: inline-block;
  margin-right: 10px;
}

.footer .mid-footer .social li:hover {
  opacity: 0.8;
}

.footer .mid-footer .thanhtoan li {
  display: inline-block;
  margin-right: 2px;
}

.footer .mid-footer .thanhtoan li img {
  max-height: 30px;
  width: auto;
}

.footer .mid-footer .call-footer li {
  display: block;
  margin-bottom: 10px;
}

.footer .mid-footer .call-footer li .title {
  display: block;
  font-weight: 700;
}

.footer .mid-footer .call-footer li a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #cd9b32;
}

.footer .mid-footer .call-footer li a:hover {
  color: #e4a53d;
}

.footer .mid-footer .call-footer li .content {
  display: block;
  font-style: italic;
}

.footer #copyright {
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  border-top: 1px solid #cd9b32;
  text-align: center;
}

.footer #copyright .copy-right {
  display: inline-block;
}

@media (max-width: 576px) {
  .footer #copyright .copy-right {
    display: block;
  }
}

.footer #copyright a {
  color: #000;
}

.footer #copyright a:hover {
  color: #e4a53d;
}

@media (min-width: 991px) {
  .header-menu {
    position: relative;
  }

  .header-menu .header-menu-des {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
  }

  .header-menu .header-menu-des .control-menu {
    width: 60px;
    text-align: center;
  }

  .header-menu .header-menu-des .control-menu a svg {
    width: 15px;
    height: 15px;
  }

  .header-menu .header-menu-des .control-menu a:hover svg path {
    fill: #e4a53d;
  }

  .header-menu .header-menu-des .header-nav {
    flex: 1;
    display: block;
    overflow-x: hidden;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    white-space: nowrap;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item {
    display: inline-block;
    position: static;
    padding: 0 15px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item:first-child>a {
    padding-left: 0;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a {
    display: block;
    text-align: left;
    padding: 10px 0px;
    font-size: 18px;
    position: relative;
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid transparent;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a {
    padding: 10px 10px;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a.caret-down:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    display: inline-block;
    top: -2px;
    margin-left: 2px;
    margin-top: -6px;
    transition: 0.5s;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item:hover>a {
    color: #cd9b32;
    border-bottom: 2px solid #cd9b32;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item:hover>a.caret-down:after {
    transform: rotate(180deg);
    border-color: #cd9b32 transparent transparent transparent;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item:hover>ul {
    overflow: visible;
    max-height: 3000px;
    max-width: 3000px;
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease,
      max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.2s ease,
      max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end,
      max-width 0s step-end, padding 0s step-end;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item .fa-caret-down {
    visibility: hidden;
    display: none;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item .item_small {
    overflow: hidden;
    display: block;
    max-height: 0px;
    max-width: 0px;
    opacity: 0;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease,
      max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.6s ease,
      max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end,
      max-width 0.6s step-end, padding 0.6s step-end;
    position: absolute;
    top: 100%;
    left: auto;
    width: 220px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    z-index: 99;
    white-space: normal;
    border-radius: 5px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li {
    float: none;
    padding: 0 0;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li:last-child>a {
    border-bottom: 0;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li:hover>ul {
    display: block;
    position: absolute;
    width: 250px;
    padding: 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
    white-space: normal;
    border-radius: 5px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) and (min-width: 992px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li:hover>ul {
    position: relative;
    left: 0;
    width: 100%;
    padding-left: 0;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li:hover>ul li a {
    padding-left: 25px;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 6px 20px 6px 10px;
    color: #000;
    position: relative;
    text-align: left;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li a.caret-down:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    display: inline-block;
    top: 50%;
    left: 100%;
    margin-left: -15px;
    margin-top: -2px;
    transition: 0.5s;
    transform: rotate(270deg);
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul li ul {
    display: none;
    left: 100%;
    top: -2px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul>li {
    color: #333;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul>li:hover>a {
    color: #e4a53d;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul>li:hover>a.caret-down:before {
    border-color: #e4a53d transparent transparent transparent;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>ul>li ul li:hover>a {
    color: #e4a53d;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega {
    position: static;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content {
    background: #fff none repeat scroll 0 0;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    border: 0;
    overflow: hidden;
    white-space: normal;
    border-radius: 5px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent a.hmega {
    color: #cd9b32 !important;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent a.hmega:hover,
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent a.hmega:focus {
    color: #e4a53d !important;
  }
}

@media (min-width: 991px) and (min-width: 992px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent a.hmega {
    display: block;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent ul.level1 li {
    line-height: 1.3;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent ul.level1 li a {
    text-transform: none !important;
    font-weight: 500;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.parent ul.level1 li+li {
    padding-top: 5px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item {
    float: left;
    width: calc(100% / 4);
    padding: 10px;
    text-align: left;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item>a {
    color: #fff !important;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item>a:hover,
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item>a:focus {
    color: #cd9b32 !important;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item h2 {
    font-size: 14px;
    margin-top: 0;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item ul.level1 {
    margin-bottom: 15px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item ul.level1 li a {
    font-weight: normal !important;
    text-transform: none !important;
    color: #000;
    font-size: 18px;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item ul.level1 li a:hover,
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item ul.level1 li a:focus {
    text-decoration: none;
    background: linear-gradient(to right, #ed7905, #edab05, #94ed05, #05edbf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level0 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .title-mega {
    text-align: left;
    font-size: 18px;
    color: #fda121;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega:hover .mega-content {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.active>a {
    color: #cd9b32;
    border-bottom: 2px solid #cd9b32;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.active>a span>i.icon-down {
    border-color: #cd9b32 transparent transparent transparent;
  }

  .header-menu .header-menu-des .header-nav>ul.item_big>li.active>a.caret-down:after {
    border-color: #cd9b32 transparent transparent transparent;
  }

  .header-menu .header-menu-des .header-nav ul li ul a.text2line:hover {
    color: #e4a53d !important;
    background: transparent !important;
  }

  .header-menu .header-menu-des .header-nav li li {
    position: relative;
  }
}

@media (max-width: 991px) {
  .header-nav.current {
    visibility: visible;
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
  .header .menu-bar {
    position: absolute;
    top: 36px;
    border-radius: 5px;
    z-index: 7;
    left: 0px;
    align-items: center;
    justify-content: center;
  }

  .header .menu-bar svg {
    width: 24px;
    height: 24px;
  }

  .header .menu-bar svg path {
    fill: #fff;
  }

  .header-nav {
    background-color: #fff;
    width: 70%;
    position: fixed;
    top: 0 !important;
    left: 0;
    z-index: 99999;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
  }

  .header-nav.current {
    visibility: visible;
    transform: translateX(0);
  }

  .header-nav .item_big {
    overflow-y: auto;
    max-height: 100vh;
    height: 100vh;
  }

  .header-nav .item_big .nav-item {
    position: relative;
    margin-bottom: 5px;
  }

  .header-nav .item_big .nav-item a {
    padding: 0 30px 0 10px !important;
    color: #000;
    height: unset;
    line-height: 30px;
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  .header-nav .item_big .nav-item .fa-caret-down {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 7.5px;
    top: 16px;
    transform: translate(0, -50%);
  }

  .header-nav .item_big .nav-item .fa-caret-down:before,
  .header-nav .item_big .nav-item .fa-caret-down:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #000;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header-nav .item_big .nav-item .fa-caret-down:before {
    width: 11px;
    height: 1px;
    opacity: 1;
  }

  .header-nav .item_big .nav-item .fa-caret-down:after {
    width: 1px;
    height: 11px;
  }

  .header-nav .item_big .nav-item .item_small {
    padding-left: 10px;
  }

  .header-nav .item_big .nav-item .item_small li {
    position: relative;
  }

  .header-nav .item_big .nav-item .item_small ul {
    padding-left: 10px;
  }

  .header-nav .item_big .nav-item .item_small ul li {
    position: relative;
  }

  .header-nav .item_big .nav-item .item_small ul li .fa-caret-down {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 7.5px;
    top: 17px;
    transform: translate(0, -50%);
  }

  .header-nav .item_big .nav-item .item_small ul li .fa-caret-down:before,
  .header-nav .item_big .nav-item .item_small ul li .fa-caret-down:after {
    position: absolute;
    content: "";
    top: 17px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #000;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header-nav .item_big .nav-item .item_small ul li .fa-caret-down:before {
    width: 11px;
    height: 1px;
    opacity: 1;
  }

  .header-nav .item_big .nav-item .item_small ul li .fa-caret-down:after {
    width: 1px;
    height: 11px;
  }

  .header-nav .item_big .title-danhmuc {
    padding: 5px;
  }

  .header-nav .item_big .title-danhmuc span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    background: #cd9b32;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
  }

  .header-nav .item_big .account-mb {
    padding: 5px;
  }

  .header-nav .item_big .account-mb ul {
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    text-align: center;
  }

  .header-nav .item_big .account-mb ul li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .header-nav .item_big .account-mb ul li a {
    display: block;
    background: #cd9b32;
    color: #fff;
    padding: 8px 5px;
    border-radius: 5px;
    font-weight: 600;
  }

  .header-nav .item_big .item-mb {
    padding: 10px;
    border-top: 1px solid #cd9b32;
  }

  .header-nav .item_big .item-mb a {
    display: block;
    margin-bottom: 10px;
    color: #000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
  }

  .header-nav li>ul {
    display: none !important;
  }

  .header-nav li.current>a {
    color: #e4a53d !important;
  }

  .header-nav li.current>ul {
    display: block !important;
  }

  .header-nav li.current .fa.current:before,
  .header-nav li.current .fa.current:after {
    background-color: #e4a53d;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .header-nav li.current .fa.current:before {
    opacity: 0;
  }

  .opacity_menu {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    display: none;
  }

  .opacity_menu.current {
    display: block;
  }
}

header.header {
  padding: 10px 0;
  position: absolute;
  top: 0 !important;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}

@media (min-width: 991px) {
  header.header {
    transition: background-color 0.1s ease 0s, padding 0.1s ease 0s;
    animation: mations2 0.5s ease;
  }
}

header.header.current {
  z-index: inherit;
  position: relative !important;
}

@media (min-width: 991px) {
  header.header.hSticky {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
  }

  header.header.hSticky .logo img {
    max-height: 65px;
    transition: all 0.4s ease;
  }
}

@media (max-width: 991px) {
  header.header .row-header {
    margin: 0;
    position: relative;
  }
}

@media (max-width: 991px) {
  header.header {
    padding: 0;
  }
}

header.header .logo img {
  max-height: 90px;
  width: auto;
  transition: all 0.4s ease;
}

@media (max-width: 991px) {
  header.header .logo {
    display: block;
    padding-left: 0;
    text-align: center;
    margin: 10px 0;
  }

  header.header .logo img {
    max-height: 90px;
    width: auto;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  header.header .logo img {
    max-height: 70px;
  }
}

@media (max-width: 991px) {
  header.header .header-control {
    position: absolute;
    top: 36px;
    right: 0px;
    display: inline-block;
    width: auto;
    padding: 0;
  }
}

header.header .header-control .ul-control {
  display: flex;
  justify-content: end;
  align-items: center;
}

header.header .header-control .ul-control li {
  align-items: center;
  margin-left: 20px;
  position: relative;
}

@media (max-width: 1199px) and (min-width: 991px) {
  header.header .header-control .ul-control li {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  header.header .header-control .ul-control li {
    margin-left: 10px;
  }
}

header.header .header-control .ul-control li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

header.header .header-control .ul-control li .icon svg {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  header.header .header-control .ul-control li .icon svg {
    width: 24px;
    height: 24px;
  }
}

header.header .header-control .ul-control li .icon svg path {
  fill: #fff;
}

header.header .header-control .ul-control li .count {
  position: absolute;
  right: -5px;
  top: -4px;
  background: #cd9b32;
  width: 16px;
  height: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}

header.header .header-control .ul-control li.header-account {
  position: relative;
}

header.header .header-control .ul-control li.header-account ul {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 999;
  width: 120px;
  right: 0;
  text-align: right;
  background: #fff;
  border-radius: 5px 0 5px 5px;
  display: none;
  border: 1px solid #cd9b32;
}

header.header .header-control .ul-control li.header-account ul:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #cd9b32;
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
}

header.header .header-control .ul-control li.header-account ul:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
}

header.header .header-control .ul-control li.header-account ul li {
  background: transparent;
  width: auto;
  margin-left: 0;
  justify-content: end;
  padding: 10px;
  border-radius: 0;
}

header.header .header-control .ul-control li.header-account ul li:hover {
  background: #e4a53d;
}

header.header .header-control .ul-control li.header-account ul li:hover a {
  color: #fff;
}

header.header .header-control .ul-control li.header-account:hover ul {
  display: block;
}

header.header .header-control .ul-control li.header-cart {
  position: relative;
}

header.header .header-control .ul-control li.header-cart .top-cart-content {
  top: calc(100% + 10px);
  right: 0;
  background: #fff;
  border-radius: 5px 0 5px 5px;
  border: 1px solid #cd9b32;
  overflow: inherit;
}

header.header .header-control .ul-control li.header-cart .top-cart-content:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #cd9b32;
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
}

header.header .header-control .ul-control li.header-cart .top-cart-content:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
}

header.header .popup-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(-100%);
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}

header.header .popup-search.active {
  transition: all 0.3s linear;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

header.header .popup-search .search-header {
  width: 500px;
}

@media (max-width: 991px) {
  header.header .popup-search .search-header {
    width: calc(100% - 50px);
    text-align: left;
    float: right;
  }
}

header.header .popup-search .close-popup-search {
  margin-left: 15px;
}

.search-smart {
  position: relative;
}

.search-smart .header-search-form {
  position: initial;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #cd9b32;
  height: 50px;
}

@media (max-width: 991px) {
  .search-smart .header-search-form {
    height: 40px;
  }
}

.search-smart .header-search-form input {
  width: 100%;
  display: block;
  height: 100%;
  padding-right: 80px;
  padding-left: 10px;
  border: 0;
}

.search-smart .header-search-form button {
  position: absolute;
  right: 5px;
  width: 40px;
  height: 40px;
  background: #cd9b32;
  border: 0;
  border-radius: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .search-smart .header-search-form button {
    width: 30px;
    height: 30px;
  }
}

.search-smart .header-search-form button svg {
  width: 20px;
  height: 20px;
}

.search-smart .header-search-form button svg path {
  fill: #fff;
}

.search-smart .header-search-form button:hover {
  background: #e4a53d;
}

.search-suggest {
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
  border: solid 1px #dfe3e8;
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 0px 2px 0 rgba(60, 64, 67, 0.1),
    0 0px 6px 0px rgba(60, 64, 67, 0.25);
}

.search-suggest.open {
  display: block;
  z-index: 99999;
  padding: 10px;
}

.search-suggest.open .title {
  display: inline-block;
  color: #000;
}

.search-suggest .smart-search-title {
  margin-bottom: 10px;
}

.search-suggest .smart-search-title li {
  display: inline-block;
}

.search-suggest .smart-search-title li a {
  padding: 5px 10px;
  display: block;
  background: #cd9b32;
  color: #fff;
  border-radius: 5px;
}

.search-suggest .smart-search-title li:hover a,
.search-suggest .smart-search-title li.active a {
  background: #e4a53d;
  color: #fff;
}

.list-search-style {
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.list-search-style.active {
  display: block;
}

.list-search-style .title-search {
  text-align: left;
  text-align: left;
  color: #cd9b32;
  margin-bottom: 20px;
  font-weight: 700;
}

.list-search-style .title-search span {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.list-search-style .title-search span:before {
  background: #cd9b32;
  content: "";
  right: 0;
  left: 0;
  position: absolute;
  bottom: -5px;
  height: 3px;
  display: block;
  z-index: 1;
  width: 40%;
}

.list-search-style .see-more a {
  display: block;
}

.list-search-style .product-smart,
.list-search-style .art-smart {
  display: inline-block;
  padding: 0px 0px 8px;
  border-bottom: 1px solid #ededed;
  background: #fff;
  position: relative;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.list-search-style .product-smart:first-child,
.list-search-style .art-smart:first-child {
  margin-top: 5px;
}

.list-search-style .product-smart:last-child,
.list-search-style .art-smart:last-child {
  border-bottom: none;
}

.list-search-style .product-smart .image_thumb,
.list-search-style .art-smart .image_thumb {
  display: inline-block;
  float: left;
  width: 80px;
}

.list-search-style .product-smart .product-info,
.list-search-style .art-smart .product-info {
  display: block;
  float: left;
  width: calc(100% - 80px);
  -o-width: calc(100% - 80px);
  -moz-width: calc(100% - 80px);
  -webkit-width: calc(100% - 80px);
  padding-left: 10px;
}

.list-search-style .product-smart .product-info,
.list-search-style .art-smart .product-info {
  margin: 5px 0 5px;
  position: relative;
}

.list-search-style .product-smart .product-info h3,
.list-search-style .art-smart .product-info h3 {
  padding: 0;
  text-overflow: ellipsis;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 3px;
  padding-bottom: 3px;
  text-transform: capitalize;
}

@media (max-width: 1199px) {

  .list-search-style .product-smart .product-info h3,
  .list-search-style .art-smart .product-info h3 {
    font-size: 14px;
  }
}

.list-search-style .product-smart .product-info h3:hover,
.list-search-style .art-smart .product-info h3:hover {
  color: #e4a53d;
}

.list-search-style .product-smart .product-info h3 a,
.list-search-style .art-smart .product-info h3 a {
  color: #000;
}

.list-search-style .product-smart .product-info h3 a:hover,
.list-search-style .art-smart .product-info h3 a:hover {
  color: #e4a53d;
}

.list-search-style .product-smart .product-info .price-box,
.list-search-style .art-smart .product-info .price-box {
  color: red;
  line-height: 23px;
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.list-search-style .product-smart .product-info .price-box .price,
.list-search-style .art-smart .product-info .price-box .price {
  padding-right: 5px;
}

.list-search-style .product-smart .product-info .price-box .compare-price,
.list-search-style .art-smart .product-info .price-box .compare-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #969696;
  line-height: 24px;
  font-weight: 300;
}

.swiper-button-next,
.swiper-button-prev {
  background: #fff;
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #cd9b32;
  border-radius: 5px;
  transform: translate(0, -50%);
  margin-top: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #cd9b32;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #cd9b32;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;
}

.row-fix {
  margin-left: -10px;
  margin-right: -10px;
}

.row-fix .col-fix {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .row-fix {
    margin-left: -3px;
    margin-right: -3px;
  }

  .row-fix .col-fix {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
}

.item-blog {
  overflow: hidden;
  transition: all 0.4s ease;
}

.item-blog .block-thumb {
  overflow: hidden;
  width: 100%;
  display: flex;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -os-justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 67%;
  background: #e4ca92;
  border-radius: 10px;
}

.item-blog .block-thumb img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  will-change: opacify;
  transition: all 0.8s ease;
}

.item-blog .block-thumb .time-post {
  position: absolute;
  text-align: center;
  left: 5px;
  top: 5px;
  background: #cd9b32;
  border-radius: 5px;
  padding: 2px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.item-blog .block-content {
  padding: 10px 0;
  color: #000;
  width: 100%;
  text-align: center;
}

.item-blog .block-content h3 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.item-blog .block-content h3:after {
  content: "";
  height: 3px;
  width: 100px;
  background: #cd9b32;
  display: inline-block;
}

.item-blog .block-content h3 a {
  color: #000;
}

.item-blog .block-content h3 a:hover {
  color: #e4a53d;
}

.item-blog:hover .block-thumb img {
  transform: scale(1.04);
  transition: all 0.8s linear;
}

.see-more {
  text-align: center;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

@media (max-width: 767px) {
  .see-more {
    margin-top: 10px;
  }
}

.see-more a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border: 2px solid #cd9b32;
  border-radius: 5px;
  color: #cd9b32;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .see-more a {
    font-size: 14px;
  }
}

.see-more a:hover {
  color: #fff;
  background: #cd9b32;
}

.title-index {
  font-size: 50px;
  margin-bottom: 40px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  font-family: "Playball";
}

@media (max-width: 767px) {
  .title-index {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.title-index a,
.title-index span {
  display: block;
}

.title-index img {
  display: block;
  margin: auto;
  max-height: 20px;
}

@media (max-width: 767px) {
  .title-index img {
    max-height: 15px;
    width: auto;
  }
}

@keyframes mations {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mations2 {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .section_video {
    display: none;
  }
}